{{template "home/header_box.html" .}}
<section id="box" class="animated fadeInUp">
  <!--
  <div>
    <a class="back" href="javascript:history.go(-1);" tabindex="-1">←Back</a>
  </div>
  -->
  <div class="container">
    <h1 id="logo">{{msg . "app"}}</h1>
    <div id="boxForm">
      <div id="boxHeader">{{msg . "register"}}</div>
<!--      <p class="text-center" id="registerText" type="hidden">{{msg . "registerSuccessAndSendValidationEmail"}} <a href="{{.emailProvider}}">{{.email}}</a></p> -->
      <form id="registerForm" action="{{url "Auth.DoRegister"}}" method="post">
        <div class="alert alert-danger" id="loginMsg"></div> 
        <input id="from" type="hidden" value="{{.from}}" />
        <div class="form-group"> 
          {{with $field := field "email" .}}
          <label class="control-label" for="email">{{msg $ "email"}}</label>
          <input type="email" class="form-control" id="email" name="{{$field.Name}}" value="{{$field.Flash}}" required=""> 
          {{end}}
        </div>
        <!-- {{with $field := field "email" .}}
        <p class="{{$field.ErrorClass}}">
          <strong>Email:</strong>
          <input type="email" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
          * <span class="error">{{$field.Error}}</span>
        </p>
        {{end}} -->
        <div class="form-group"> 
          {{with $field := field "pwd" .}}
          <label class="control-label" for="pwd">{{msg $ "password"}}</label>
          <input type="password" class="form-control" id="pwd" name="{{$field.Name}}" required="">
          {{msg $ "passwordTips"}} 
          {{end}}
        </div>
        <div class="form-group"> 
          {{with $field := field "pwd2" .}}
          <label class="control-label" for="pwd2">{{msg $ "password2"}}</label>
          <input type="password" class="form-control" id="pwd2" name="{{$field.Name}}" required="">
          {{end}}
        </div>
        <div id="captchaContainer">
          <div class="form-group" id="captchaCtrl">
            <label class="control-label">{{msg . "captchalabel"}}</label>
            <input type="text" class="form-control" id="captcha" name="validateCode" value="" required="">
            <input id="captchaId" type="hidden" name="captchaId" value="{{.Captcha.CaptchaId}}">
            <img id="captchaImg" src="/captcha/{{.Captcha.CaptchaId}}.png" alt={{.Captcha.CaptchaId}}>
            <a href="#" onclick="freshCaptcha();">{{msg . "reloadCaptcha"}}</a>
          </div>
        </div>
        
        <button id="registerBtn" class="btn btn-success">{{msg . "register"}}</button>
        
        <div class="line line-dashed"></div>
        
        <p class="text-muted text-center"><small>{{msg . "hadAcount"}}</small></p>
        
        <a id="loginBtn" href="/login" class="btn btn-default btn-block">{{msg . "login"}}</a>
      </form>   
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "home/footer_box.html" .}}