{{template "home/header_box.html" .}}
<section id="box" class="animated fadeInUp">
  <!--
  <div>
    <a class="back" href="javascript:history.go(-1);" tabindex="-1">←Back</a>
  </div>
  -->
  <div class="container">
    <h1 id="logo">{{msg . "app"}}</h1>
    <div id="boxForm">
      <div id="boxHeader">{{msg . "join"}}</div>
<!--      <p class="text-center" id="registerText" type="hidden">{{msg . "registerSuccessAndSendValidationEmail"}} <a href="{{.emailProvider}}">{{.email}}</a></p> -->
      <form id="loginForm2" action="{{url "User.DoJoin" .id}}" method="post">
        <div class="alert alert-danger" id="loginMsg"></div> 
        <input id="from" type="hidden" value="{{.from}}" />
        
        <div class="form-group"> 
          {{with $field := field "vipno" .}}
          <label class="control-label" for="vipno">{{msg $ "cardId"}}</label>
          <input type="text" class="form-control" id="vipno" name="{{$field.Name}}" required="">
          {{end}}
        </div>
        <div class="form-group"> 
          {{with $field := field "phoneno" .}}
          <label class="control-label" for="phoneno">{{msg $ "mobile"}}</label>
          <input type="text" class="form-control" id="phoneno" name="{{$field.Name}}" required="">
          {{end}}
        </div>
        
        <button id="registerBtn" class="btn btn-success">{{msg . "join"}}</button>
        
        <div class="line line-dashed"></div>

      </form>   
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "home/footer_box.html" .}}