{{set . "title" "Item"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Items</h1>
        <p>There are all Items.</p>

      </div>
    </div>
  </div>
</header>



<div class="container">
  <div class="content">
  	{{if .items}}
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Category</th>
          <th>Cost</th>
          <th>Price</th>
          <th>Stock</th>
        </tr>
      </thead>
      {{range .items}}
      <tbody>
        <tr>
          <td>{{.Name}}</td>
          <td>{{.Category}}</td>
          <td>{{.Cost}}</td>
          <td>{{.Price}}</td>
          <td>{{.Stock}}</td>
        </tr>
      </tbody>
      {{end}}
    </table>
	{{else}}
		<p>No any Items added.</p>
	{{end}}
  </div>
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
