
	<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<i class="fa fa-envelope-o fa-3x icon-muted"></i>
				<!-- <h2>Contact</h2> -->
				<p>
					<a href="/index">us@inaiping.wang</a>
				</p>
				<div id="beian">
					<a href="http://www.miibeian.gov.cn" target="_blank">蜀ICP备15012847号-1</a>
				</div>
			</div>
			<div class="col-md-6">
				<i class="fa fa-globe fa-3x icon-muted"></i>
				<p>
					<a href="/index">{{msg . "home"}}</a>
				</p>
				<p>
					<a href="/index">{{msg . "app"}}</a> © 2015
				</p>
			</div>
		</div>
	</div>
	
	</div>

	{{if eq .RunMode "dev"}}
		{{template "debug.html" .}}
	{{end}}
  </body>
</html>
