<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="myapp,inaiping.xyz">
    <meta name="description" content="{{msg . "app"}}, {{msg . "home"}}">
    <meta name="author" content="inaping">
    <title>{{.title}}{{webTitle ""}}</title>


    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-1.9.1.min.js"></script>
    <link href="/css/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}

    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}

  </head>
<body>

<nav id="headerContainer" class="navbar navbar-fixed-top">
  <div class="container-fluid">
  	<div class="navbar-header">
        <a class="navbar-brand" href="/index">
          <img src="/images/logo/leanote_black.png" id="" title="{{msg . "app"}}"/>
        </a>


      </div> 
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          {{if logined .session}}
            <li><a href="">{{msg . "welcome"}} {{.session.user}}</a></li>
            <li><a href="/logout" title="logout">{{msg . "logout"}}</a></li>
            <li><a href='{{url "User.Account" .session.id}}'>{{msg . "myAccount"}}</a></li>
          {{else}}
            <!-- <li><button id="loginBtn" type="button" class="btn btn-warning navbar-btn">Sign in</button></li>
            <li><button id="RegBtn" type="button" class="btn btn-success navbar-btn">Sign up</button></li> -->
            <li><a href="/index" target="body" class="smooth-scroll">{{msg . "home"}}</a></li>
            <li><a href="/index#our-words" target="#our-words" class="smooth-scroll">{{msg . "about"}}</a> </li>
            <li><a href="/register" title="register">{{msg . "register"}}</a></li>
            <li><a href="/login" title="login">{{msg . "login"}}</a></li>
          {{end}}
          {{if isAdmin .session}}
          	<li><a href='{{url "Admin.Index"}}'>{{msg . "admin"}}</a></li>
          {{end}}
        </ul>
        <!-- <ul class="nav navbar-nav">
        {{if logined .session}}
            {{msg . "welcome"}} {{.session.user}} <a href="/logout" title="logout">{{msg . "logout"}}</a>
        {{end}}
        </ul> -->
      </div>
  </div>
</nav>